# Deprecated

This document moved to: docs/reports/FINAL_QA_REPORT.md

Please update bookmarks and links.
