# Deprecated

This document moved to: docs/reports/VALIDATION_REPORT.md

Please update bookmarks and links.
