openapi: 3.0.3
info:
  title: Lythaus (formerly Asora) Backend API Contract
  version: 1.0.0
  description: 'Authenticity-first Lythaus (formerly Asora) backend contract covering Phase 1 domains (auth, users, posts, feeds, custom feeds,
    moderation, appeals) plus Phase 2 / future domains for reputation, search, trending, integrations, and onboarding. All
    list operations follow cursor-based pagination and every error uses a single shape with correlation identifiers.

    '
  license:
    name: Proprietary
    url: https://asora.example.com/legal/api-license
servers:
- url: https://api.asora.app
  description: Production
- url: https://api.staging.asora.app
  description: Staging
tags:
- name: auth
  description: Token issuance, refresh, and onboarding helpers.
- name: users
  description: Public and private profile data.
- name: posts
  description: Post creation, retrieval, and removal.
- name: feed
  description: Feed reads, including hybrid news and timelines.
- name: custom-feeds
  description: Custom feed lifecycle and reads.
- name: moderation
  description: Moderation queue, cases, and decisions.
- name: appeals
  description: Appeals and appeal voting.
- name: admin
  description: Lythaus admin moderation and safety operations.
- name: reputation
  description: Reputation, XP, and tier data (v2/future).
- name: search
  description: Global search (v2/future).
- name: trending
  description: Trending posts and topics (v2/future).
- name: integrations
  description: Partner/external feed interfaces (v2/future).
- name: onboarding
  description: Invite codes and journalist applications (v2/future).
- name: media
  description: Media upload and management.
- name: payments
  description: Subscription and payment webhook handling (v2/future).
security:
- bearerAuth: []
paths:
  /api/auth/token:
    post:
      tags:
      - auth
      summary: Exchange provider code or email magic link for JWT access.
      description: Unauthenticated, rate-limited entry point that returns access/refresh tokens and the merged identity/profile
        projection.
      security: []
      operationId: auth_token_exchange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
      responses:
        '200':
          description: Access token pair plus profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/auth/refresh:
    post:
      tags:
      - auth
      summary: Rotate an access token pair using a refresh token.
      description: Refresh endpoint that hard-rotates refresh tokens; requires only the refresh token.
      security: []
      operationId: auth_token_refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRefreshRequest'
      responses:
        '200':
          description: New access/refresh tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/users/me:
    get:
      tags:
      - users
      summary: Return the current user profile with PG identity merged with Cosmos preferences.
      description: Fetch the authenticated user's full profile including identity from PostgreSQL and preferences from Cosmos DB.
      operationId: users_me_get
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Identity plus profile/settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
      - users
      summary: Update the authenticated user profile (bio, avatar, topic preferences).
      description: Update the current user's profile fields including bio, avatar URL, and topic preferences stored in Cosmos DB.
      operationId: users_me_update
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Updated identity/profile projection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/users/{id}:
    get:
      tags:
      - users
      summary: Public profile view without sensitive fields.
      description: Retrieve public profile information for any user by ID, excluding sensitive fields like email and auth tokens.
      operationId: users_get_by_id
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Public user data only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUserResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/posts:
    post:
      tags:
      - posts
      summary: Create a post stored in the Cosmos posts container.
      description: Create a new post with text content, optional media, and automatic moderation checks before storage in Cosmos DB.
      operationId: posts_create
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Created post payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/posts/{id}:
    get:
      tags:
      - posts
      summary: Retrieve a single post with enriched author metadata.
      description: Fetch a single post by ID with engagement statistics and enriched author profile information.
      operationId: posts_get_by_id
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Post view with stats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
      - posts
      summary: Update a post with moderation checks.
      description: Update post fields (author or moderator/admin only) with text/image moderation and AI authenticity policy enforcement.
      operationId: posts_update
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePostRequest'
      responses:
        '200':
          description: Updated post payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostView'
        '400':
          description: Bad request - invalid input or blocked content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
      - posts
      summary: Delete your own post.
      description: Permanently delete a post owned by the authenticated user from the Cosmos posts container.
      operationId: posts_delete
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Post deleted.
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/users/{userId}/posts:
    get:
      tags:
      - posts
      summary: List posts authored by a specific user.
      description: Retrieve cursor-paginated posts authored by the specified user, with optional reply inclusion.
      operationId: posts_list_by_user
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/includeReplies'
      responses:
        '200':
          description: Cursor-based user posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedPostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/media/upload-url:
    post:
      tags:
      - media
      summary: Request a presigned SAS URL for uploading media.
      description: >-
        Generates a write-only Azure Blob Storage SAS URL for the authenticated user.
        The client uploads the file directly to blob storage using the returned URL.
        File size and count limits are enforced per user tier.
      operationId: media_upload_url
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - fileName
              - contentType
              - fileSizeBytes
              properties:
                fileName:
                  type: string
                  description: Original file name including extension (e.g. photo.jpg).
                  example: sunset.jpg
                contentType:
                  type: string
                  description: MIME type of the file.
                  enum:
                  - image/jpeg
                  - image/png
                  - image/gif
                  - image/webp
                  - image/heic
                  example: image/jpeg
                fileSizeBytes:
                  type: integer
                  description: File size in bytes. Must not exceed tier limit.
                  example: 2048000
      responses:
        '200':
          description: Presigned upload URL generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: string
                    format: uri
                    description: Write-only SAS URL for uploading the file via PUT.
                  blobUrl:
                    type: string
                    format: uri
                    description: Public URL of the blob after upload completes.
                  expiresAt:
                    type: string
                    format: date-time
                    description: Expiry time of the SAS URL.
        '400':
          description: Bad request - unsupported file type, missing fields, or file too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - upload rate limited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/subscription/status:
    get:
      tags:
      - payments
      summary: Get the current user's subscription status.
      description: >-
        Returns the authenticated user's active subscription tier, expiration date,
        and entitlements. Architecture placeholder for future IAP integration.
      operationId: subscription_status
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Current subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStatus'
        '401':
          description: Unauthorized - missing or invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/payments/webhook:
    post:
      tags:
      - payments
      summary: Receive payment provider webhook events.
      description: >-
        Ingests webhook events from the payment provider (e.g. RevenueCat, Apple, Google).
        Validates the webhook signature, processes subscription lifecycle events
        (new, renewal, cancellation, billing issue), and updates the user's tier in Cosmos.
        Architecture placeholder — provider not yet selected.
      operationId: payments_webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provider-specific webhook payload. Shape depends on chosen provider.
      responses:
        '200':
          description: Webhook processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '400':
          description: Invalid webhook payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid webhook signature.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/feed/discover:
    get:
      tags:
      - feed
      summary: Discover feed for guests or new users.
      description: Personalised ranking that can mix journalists and community contributors.
      operationId: feed_discover_get
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/includeTopics'
      - $ref: '#/components/parameters/excludeTopics'
      responses:
        '200':
          description: Discover feed posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedPostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/feed/news:
    get:
      tags:
      - feed
      summary: Hybrid News feed combining journalists and high-reputation users.
      description: Curated news feed filtering posts with `isNews=true` from verified journalists and high-reputation community contributors.
      operationId: feed_news_get
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/includeHighReputation'
      - $ref: '#/components/parameters/includeTopics'
      responses:
        '200':
          description: News feed with `isNews` flags for UI rendering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedPostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/feed/user/{userId}:
    get:
      tags:
      - feed
      summary: User timeline.
      description: Retrieve cursor-paginated posts for a specific user's timeline, including posts from followed accounts.
      operationId: feed_user_get
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/includeReplies'
      responses:
        '200':
          description: Timeline posts for the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedPostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/custom-feeds:
    get:
      tags:
      - custom-feeds
      summary: List the authenticated user’s custom feeds within tier limits.
      operationId: customFeeds_list
      description: Retrieve all custom feed definitions owned by the authenticated user, respecting tier-based limits on feed count.
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Cursor list of custom feed definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFeedListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400': &id001
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - custom-feeds
      summary: Create a custom feed definition.
      description: Create a new custom feed with 3-layer filters (content type, keywords, accounts) validated against tier limits.
      operationId: customFeeds_create
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomFeedRequest'
      responses:
        '201':
          description: New custom feed metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFeedDefinition'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/custom-feeds/{id}:
    get:
      tags:
      - custom-feeds
      summary: Retrieve a custom feed definition.
      description: Fetch a single custom feed definition by ID, including filter configuration and metadata.
      operationId: customFeeds_getById
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom feed definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFeedDefinition'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
      - custom-feeds
      summary: Update filters or home flag.
      description: Update an existing custom feed's filters, name, or home screen visibility flag with ownership verification.
      operationId: customFeeds_update
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomFeedRequest'
      responses:
        '200':
          description: Updated feed definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFeedDefinition'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
      - custom-feeds
      summary: Delete a custom feed.
      description: Permanently delete a custom feed definition owned by the authenticated user from Cosmos DB.
      operationId: customFeeds_delete
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Feed removed.
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
        '400': *id001
  /api/custom-feeds/{id}/items:
    get:
      tags:
      - custom-feeds
      summary: Read posts that match the custom feed filters.
      description: Query posts that satisfy the custom feed's 3-layer filter criteria with cursor pagination and author enrichment.
      operationId: customFeeds_getItems
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Posts that satisfy the custom feed definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedPostView'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/moderation/queue:
    get:
      tags:
      - moderation
      summary: Moderation queue filtered for the authenticated reviewer.
      description: Retrieve pending moderation cases filtered by status and reviewer permissions, with cursor pagination.
      operationId: moderation_queue_list
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Pending moderation cases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCaseListResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/moderation/cases/{id}:
    get:
      tags:
      - moderation
      summary: Details of a single moderation case.
      description: Fetch full details of a moderation case including decision history and target content metadata.
      operationId: moderation_cases_getById
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Case plus decision history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationCaseResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/moderation/cases/{id}/decision:
    post:
      tags:
      - moderation
      summary: Submit an approval, rejection, or escalation decision.
      description: Record a moderation decision (approve/reject/escalate) with optional notes and apply moderation actions to content.
      operationId: moderation_cases_decide
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationDecisionRequest'
      responses:
        '200':
          description: Recorded decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationDecision'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/appeals:
    post:
      tags:
      - appeals
      summary: File an appeal against a moderation decision.
      description: Submit an appeal challenging a moderation decision with justification text for community voting.
      operationId: appeals_create
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileAppealRequest'
      responses:
        '201':
          description: Submitted appeal record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/appeals/{id}:
    get:
      tags:
      - appeals
      summary: View appeal details and community votes.
      description: Retrieve appeal details including original moderation case, user justification, and aggregated community vote tallies.
      operationId: appeals_getById
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Appeal plus votes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealDetailsResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/appeals/{id}/votes:
    post:
      tags:
      - appeals
      summary: Cast a weighted vote on an appeal.
      description: Submit a reputation-weighted vote (uphold/deny) on an appeal with one vote per user per appeal.
      operationId: appeals_vote
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteOnAppealRequest'
      responses:
        '200':
          description: Recorded vote metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteOnAppealResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/reputation/me:
    get:
      tags:
      - reputation
      summary: v2/future - XP totals, current tier, and breakdown.
      operationId: reputation_me_get
      description: Marked v2/future and driven by PostgreSQL snapshots.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Reputation overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationOverview'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/reputation/history:
    get:
      tags:
      - reputation
      summary: v2/future - Paginated XP event history.
      operationId: reputation_history_get
      description: Cursor-based listing that feeds client leaderboards.
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Reputation events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationHistoryResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/reputation/events:
    post:
      tags:
      - reputation
      summary: v2/future - Internal ingestion for XP events.
      operationId: reputation_events_ingest
      description: Internal-only endpoint that records XP deltas for later batching.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReputationEventRequest'
      responses:
        '202':
          description: XP event accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationEvent'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/search:
    get:
      tags:
      - search
      summary: v2/future - Global search across posts and users.
      description: Full-text search across posts and user profiles with optional type filtering and timeframe constraints.
      operationId: search_global_get
      security:
      - bearerAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: types
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - user
        style: form
        explode: true
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Ranked search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/trending/posts:
    get:
      tags:
      - trending
      summary: v2/future - Trending posts for the requested timeframe.
      description: Retrieve engagement-ranked trending posts within a specified timeframe (24h/7d/30d) with optional category filtering.
      operationId: trending_posts_get
      security:
      - bearerAuth: []
      parameters:
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
      - name: categories
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Trending posts and topic metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/trending/topics:
    get:
      tags:
      - trending
      summary: v2/future - Trending topic list.
      description: List trending topics ranked by mention frequency within a timeframe with top post preview.
      operationId: trending_topics_get
      security:
      - bearerAuth: []
      parameters:
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
      - name: categories
        in: query
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Trending topics summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/integrations/feed/discover:
    get:
      tags:
      - integrations
      summary: v2/future external discover feed for partners.
      operationId: integrations_feed_discover_get
      description: Requires partnerId query and X-Partner-ApiKey header.
      security:
      - bearerAuth: []
      parameters:
      - name: partnerId
        in: query
        required: true
        schema:
          type: string
      - name: X-Partner-ApiKey
        in: header
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Partner discover feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerFeedResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/integrations/feed/news:
    get:
      tags:
      - integrations
      summary: v2/future external news feed for partners.
      description: Partner-authenticated news feed endpoint requiring partner ID and API key for external integrations.
      operationId: integrations_feed_news_get
      security:
      - bearerAuth: []
      parameters:
      - name: partnerId
        in: query
        required: true
        schema:
          type: string
      - name: X-Partner-ApiKey
        in: header
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Partner news feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerFeedResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/auth/onboarding/invite:
    post:
      tags:
      - onboarding
      summary: v2/future - Validate invite codes and surface tier grants.
      description: Validate an invite code and return tier metadata including expiration and assigned user tier level.
      operationId: onboarding_invite_validate
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteCodeRequest'
      responses:
        '200':
          description: Invite metadata and tier exposure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteCodeResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /api/auth/onboarding/journalist-application:
    post:
      tags:
      - onboarding
      summary: v2/future - Submit journalist application data.
      description: Submit journalist verification application with portfolio URL and credentials for admin review.
      operationId: onboarding_journalist_apply
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalistApplicationRequest'
      responses:
        '202':
          description: Application received for review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalistApplicationResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /_admin/flags:
    get:
      tags:
      - admin
      summary: List flagged content queue.
      description: Returns grouped flagged content for admin triage.
      operationId: admin_flags_list
      security:
      - bearerAuth: []
      parameters:
      - name: status
        in: query
        description: Filter by queue status.
        required: false
        schema:
          type: string
          enum:
          - open
          - resolved
          - all
      - name: cursor
        in: query
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of items to return (1-100).
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Flag queue response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFlagQueueResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/flags/{flagId}:
    get:
      tags:
      - admin
      summary: Get flagged content detail.
      description: Fetch detail for a flagged content item.
      operationId: admin_flags_get
      security:
      - bearerAuth: []
      parameters:
      - name: flagId
        in: path
        description: Flag identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Flag detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFlagDetailResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Flag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/flags/{flagId}/resolve:
    post:
      tags:
      - admin
      summary: Resolve a flagged content item.
      description: Marks a flag as resolved with a reason code.
      operationId: admin_flags_resolve
      security:
      - bearerAuth: []
      parameters:
      - name: flagId
        in: path
        description: Flag identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminFlagResolveRequest'
      responses:
        '200':
          description: Flag resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResolveResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Flag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/content/{contentId}/block:
    post:
      tags:
      - admin
      summary: Block content.
      description: Sets content state to BLOCKED.
      operationId: admin_content_block
      security:
      - bearerAuth: []
      parameters:
      - name: contentId
        in: path
        description: Content identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminContentActionRequest'
      responses:
        '200':
          description: Content blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminContentActionResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/content/{contentId}/publish:
    post:
      tags:
      - admin
      summary: Publish content.
      description: Sets content state to PUBLISHED.
      operationId: admin_content_publish
      security:
      - bearerAuth: []
      parameters:
      - name: contentId
        in: path
        description: Content identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminContentActionRequest'
      responses:
        '200':
          description: Content published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminContentActionResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/appeals:
    get:
      tags:
      - admin
      summary: List appeals queue.
      description: Returns appeals awaiting admin review.
      operationId: admin_appeals_list
      security:
      - bearerAuth: []
      parameters:
      - name: status
        in: query
        description: Filter by appeal status.
        required: false
        schema:
          type: string
          enum:
          - pending
          - approved
          - rejected
          - all
      - name: cursor
        in: query
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of items to return (1-100).
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Appeals queue response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealQueueResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/appeals/{appealId}:
    get:
      tags:
      - admin
      summary: Get appeal detail.
      description: Fetch appeal detail with content and decision context.
      operationId: admin_appeals_get
      security:
      - bearerAuth: []
      parameters:
      - name: appealId
        in: path
        description: Appeal identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Appeal detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDetailResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Appeal not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/appeals/{appealId}/approve:
    post:
      tags:
      - admin
      summary: Approve an appeal.
      description: Approves an appeal and restores content to PUBLISHED. Overrides existing outcomes.
      operationId: admin_appeals_approve
      security:
      - bearerAuth: []
      parameters:
      - name: appealId
        in: path
        description: Appeal identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppealDecisionRequest'
      responses:
        '200':
          description: Appeal approved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDecisionResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Appeal or content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/appeals/{appealId}/reject:
    post:
      tags:
      - admin
      summary: Reject an appeal.
      description: Rejects an appeal and keeps content BLOCKED. Overrides existing outcomes.
      operationId: admin_appeals_reject
      security:
      - bearerAuth: []
      parameters:
      - name: appealId
        in: path
        description: Appeal identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppealDecisionRequest'
      responses:
        '200':
          description: Appeal rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDecisionResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Appeal or content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/audit:
    get:
      tags:
      - admin
      summary: List admin audit log entries.
      description: Returns recent admin audit entries.
      operationId: admin_audit_list
      security:
      - bearerAuth: []
      parameters:
      - name: limit
        in: query
        description: Number of entries to return (1-200)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Admin audit list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuditListResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/users/search:
    get:
      tags:
      - admin
      summary: Search users.
      description: Search by user id, handle, display name, or email.
      operationId: admin_users_search
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        description: Search query.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of items to return (1-100).
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: User search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserSearchResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/users/{userId}/disable:
    post:
      tags:
      - admin
      summary: Disable a user.
      description: Disables a user account immediately.
      operationId: admin_users_disable
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        description: User identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserDisableRequest'
      responses:
        '200':
          description: User disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserActionResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/users/{userId}/enable:
    post:
      tags:
      - admin
      summary: Enable a user.
      description: Re-enables a previously disabled user.
      operationId: admin_users_enable
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        description: User identifier.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEnableRequest'
      responses:
        '200':
          description: User enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserActionResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/invites:
    get:
      tags:
      - admin
      summary: List invite codes.
      description: Returns admin invite codes with usage metadata.
      operationId: admin_invites_list
      security:
      - bearerAuth: []
      parameters:
      - name: createdBy
        in: query
        description: Filter by creator id.
        required: false
        schema:
          type: string
      - name: unused
        in: query
        description: Filter for unused invites only.
        required: false
        schema:
          type: boolean
      - name: cursor
        in: query
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of items to return (1-200).
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Invite list response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteListResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - admin
      summary: Create an invite code.
      description: Creates a single admin invite code.
      operationId: admin_invites_create
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteCreateRequest'
      responses:
        '201':
          description: Invite created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/invites/batch:
    post:
      tags:
      - admin
      summary: Batch create invite codes.
      description: Creates multiple invite codes in a single request.
      operationId: admin_invites_batch
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteBatchRequest'
      responses:
        '201':
          description: Invite batch created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteBatchResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/invites/{code}:
    get:
      tags:
      - admin
      summary: Get an invite code.
      description: Fetch a single invite by code.
      operationId: admin_invites_get
      security:
      - bearerAuth: []
      parameters:
      - name: code
        in: path
        description: Invite code.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Invite response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /_admin/invites/{code}/revoke:
    post:
      tags:
      - admin
      summary: Revoke an invite code.
      description: Revokes an invite code immediately.
      operationId: admin_invites_revoke
      security:
      - bearerAuth: []
      parameters:
      - name: code
        in: path
        description: Invite code.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteRevokeRequest'
      responses:
        '200':
          description: Invite revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteRevokeResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    cursor:
      name: cursor
      in: query
      description: Opaque cursor returned from the previous page.
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Page size (1-100, default 25).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    includeReplies:
      name: includeReplies
      in: query
      description: Include replies alongside top-level posts.
      schema:
        type: boolean
        default: false
    includeTopics:
      name: includeTopics
      in: query
      description: Topic identifiers to boost.
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
    excludeTopics:
      name: excludeTopics
      in: query
      description: Topic identifiers to filter out.
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
    region:
      name: region
      in: query
      description: Geographic region code for News feed locality.
      schema:
        type: string
    includeHighReputation:
      name: includeHighReputation
      in: query
      description: Include posts from high-reputation contributors.
      schema:
        type: boolean
        default: true
  responses:
    ErrorResponse:
      description: Standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
    ApiError:
      type: object
      required:
      - code
      - message
      - correlationId
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
        correlationId:
          type: string
          format: uuid
    AuthTokenRequest:
      type: object
      required:
      - grant_type
      - client_id
      properties:
        grant_type:
          type: string
          enum:
          - authorization_code
          - refresh_token
        client_id:
          type: string
        code:
          type: string
        redirect_uri:
          type: string
        code_verifier:
          type: string
        refresh_token:
          type: string
    AuthTokenResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          enum:
          - Bearer
        expires_in:
          type: integer
        user:
          $ref: '#/components/schemas/CurrentUserResponse'
    AuthRefreshRequest:
      type: object
      required:
      - refresh_token
      properties:
        refresh_token:
          type: string
    RefreshTokenResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          enum:
          - Bearer
        expires_in:
          type: integer
    UserIdentity:
      type: object
      properties:
        id:
          type: string
        primaryEmail:
          type: string
          format: email
        secondaryEmails:
          type: array
          items:
            type: string
            format: email
        roles:
          type: array
          items:
            type: string
            enum:
            - user
            - moderator
            - journalist
            - contributor
            - admin
        tier:
          type: string
          enum:
          - free
          - creator
          - premium
          - enterprise
        reputationScore:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserPreferences:
      type: object
      properties:
        language:
          type: string
        timezone:
          type: string
        allowPersonalizedNews:
          type: boolean
        shareAnalytics:
          type: boolean
        notificationChannels:
          type: array
          items:
            type: string
            enum:
            - email
            - push
            - sms
    UserProfile:
      type: object
      properties:
        displayName:
          type: string
        handle:
          type: string
        bio:
          type: string
        avatarUrl:
          type: string
        location:
          type: string
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        badges:
          type: array
          items:
            type: string
    CosmosUserSettings:
      type: object
      additionalProperties: true
    CurrentUserResponse:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/UserIdentity'
        profile:
          $ref: '#/components/schemas/UserProfile'
        settings:
          $ref: '#/components/schemas/CosmosUserSettings'
    UpdateUserRequest:
      type: object
      properties:
        displayName:
          type: string
        bio:
          type: string
        avatarUrl:
          type: string
        preferences:
          type: object
          additionalProperties: true
    PublicUser:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        handle:
          type: string
        avatarUrl:
          type: string
        tier:
          type: string
          enum:
          - free
          - creator
          - premium
          - enterprise
        reputationScore:
          type: integer
        journalistVerified:
          type: boolean
        badges:
          type: array
          items:
            type: string
    PublicUserResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/PublicUser'
    PostContent:
      type: object
      properties:
        text:
          type: string
        mediaUrls:
          type: array
          items:
            type: string
        attachments:
          type: object
          additionalProperties: true
    PostView:
      type: object
      properties:
        id:
          type: string
        authorId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        content:
          $ref: '#/components/schemas/PostContent'
        visibility:
          type: string
          enum:
          - public
          - followers
          - private
        contentType:
          type: string
          enum:
          - text
          - image
          - video
          - mixed
        topicIds:
          type: array
          items:
            type: string
        replyToPostId:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        score:
          type: number
        likeCount:
          type: integer
        commentCount:
          type: integer
        shareCount:
          type: integer
        clusterId:
          type: string
        author:
          $ref: '#/components/schemas/PublicUser'
        isNews:
          type: boolean
        source:
          $ref: '#/components/schemas/NewsSourceMetadata'
        authorRole:
          type: string
          enum:
          - journalist
          - contributor
          - user
        promotedForTopic:
          type: string
    NewsSourceMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
          - journalist
          - curated
          - partner
          - wire
        name:
          type: string
        url:
          type: string
          format: uri
        feedUrl:
          type: string
          format: uri
        externalId:
          type: string
        publishedAt:
          type: string
          format: date-time
        ingestedAt:
          type: string
          format: date-time
        ingestedBy:
          type: string
        ingestMethod:
          type: string
          enum:
          - admin_api
          - timer
      required:
      - type
      - name
      - publishedAt
      - ingestedAt
      - ingestedBy
      - ingestMethod
    SubscriptionStatus:
      type: object
      description: Current subscription state for the authenticated user.
      properties:
        userId:
          type: string
        tier:
          type: string
          enum:
          - free
          - premium
          - black
          description: Active subscription tier.
        status:
          type: string
          enum:
          - active
          - cancelled
          - past_due
          - expired
          - trialing
          description: Current subscription lifecycle state.
        provider:
          type: string
          enum:
          - apple
          - google
          - stripe
          - manual
          nullable: true
          description: Payment provider that manages this subscription.
        currentPeriodEnd:
          type: string
          format: date-time
          nullable: true
          description: End of the current billing period.
        cancelAtPeriodEnd:
          type: boolean
          description: Whether the subscription will cancel at period end.
        entitlements:
          type: object
          properties:
            dailyPosts:
              type: integer
            maxMediaSizeMB:
              type: integer
            maxMediaPerPost:
              type: integer
    CreatePostRequest:
      type: object
      required:
      - content
      - contentType
      properties:
        content:
          type: string
        contentType:
          type: string
          enum:
          - text
          - image
          - video
          - mixed
        mediaUrls:
          type: array
          items:
            type: string
            format: uri
        visibility:
          type: string
          enum:
          - public
          - followers
          - private
        topics:
          type: array
          items:
            type: string
        isNews:
          type: boolean
        aiLabel:
          type: string
          enum:
          - human
          - generated
    UpdatePostRequest:
      type: object
      properties:
        content:
          type: string
        contentType:
          type: string
          enum:
          - text
          - image
          - video
          - mixed
        mediaUrls:
          type: array
          items:
            type: string
            format: uri
        visibility:
          type: string
          enum:
          - public
          - followers
          - private
        topics:
          type: array
          items:
            type: string
        isNews:
          type: boolean
        aiLabel:
          type: string
          enum:
          - human
          - generated
    CursorPaginatedPostView:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostView'
        nextCursor:
          type: string
          nullable: true
    CustomFeedDefinition:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        name:
          type: string
        contentType:
          type: string
          enum:
          - text
          - image
          - video
          - mixed
        sorting:
          type: string
          enum:
          - hot
          - new
          - relevant
          - following
          - local
        includeKeywords:
          type: array
          items:
            type: string
        excludeKeywords:
          type: array
          items:
            type: string
        includeAccounts:
          type: array
          items:
            type: string
        excludeAccounts:
          type: array
          items:
            type: string
        isHome:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateCustomFeedRequest:
      type: object
      required:
      - name
      - contentType
      - sorting
      properties:
        name:
          type: string
        contentType:
          type: string
          enum:
          - text
          - image
          - video
          - mixed
        sorting:
          type: string
          enum:
          - hot
          - new
          - relevant
          - following
          - local
        includeKeywords:
          type: array
          items:
            type: string
        excludeKeywords:
          type: array
          items:
            type: string
        includeAccounts:
          type: array
          items:
            type: string
        excludeAccounts:
          type: array
          items:
            type: string
        isHome:
          type: boolean
    UpdateCustomFeedRequest:
      type: object
      properties:
        name:
          type: string
        sorting:
          type: string
          enum:
          - hot
          - new
          - relevant
          - following
          - local
        includeKeywords:
          type: array
          items:
            type: string
        excludeKeywords:
          type: array
          items:
            type: string
        includeAccounts:
          type: array
          items:
            type: string
        excludeAccounts:
          type: array
          items:
            type: string
        isHome:
          type: boolean
    CustomFeedListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CustomFeedDefinition'
        nextCursor:
          type: string
          nullable: true
    ModerationCase:
      type: object
      properties:
        id:
          type: string
        targetId:
          type: string
        contentId:
          type: string
        reporterId:
          type: string
        createdAt:
          type: string
          format: date-time
        reason:
          type: string
        severity:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        aiConfidence:
          type: number
        status:
          type: string
          enum:
          - pending
          - escalated
          - resolved
        assignedTo:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ModerationDecision:
      type: object
      properties:
        caseId:
          type: string
        reviewerId:
          type: string
        action:
          type: string
          enum:
          - remove
          - keep
          - escalate
        rationale:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
    ModerationCaseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ModerationCase'
        nextCursor:
          type: string
[...]
